<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>{{question.question_text}}</h2> <!-- <h2>{{question}}</h2> 둘의 결과가 같다.-->

<b style="color: red;"> <!-- 투표항목 선택 안했을시에 수행 -->
	{% if error_msg %}
		{{error_msg}}
	{% endif %}
</b>

<form action="{% url 'vote' question.id %}" method="post">{% csrf_token %} <!-- /gogo/2/vote/ -->
	{# {{forloop.counter}} {{choice.id}} 확인필요 #}
	{% for choice in question.choice_set.all %} {# choice 객체를 참조하고있는 question에서 choice값을 반환 #}
		{% comment 여기서는 question_id 1,2 로 분류된 메뉴들을 1번 id 부터 번호를 쭉매기니까 %}
			축구 1-1 야구 1-2 자바 2-3 파이썬 2-4 c언어 2-5 이렇게 choice.id 가 늘어나게된다.
			그리고 최종적으로 값이 넘어가는것은 question_id이기 때문에 1또는 2를 넘겨주는데 name=vote 에 매핑시켜서 넘겨준다.
		{% endcomment %}
		<!--  question.id = {{question.id}}
		forloop.counter = {{forloop.counter}}
		choice.id = {{choice.id}}-->
		<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"> {# choice값 #}
		<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
		<br>
	{% endfor %}
	<br>
	<input type="submit" value="투표 확인">
</form>
</body>
</html>