<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
* 투표 질문 항목 선택 * <p/>
{% if q_list %}
	<ul>
		{% for q in q_list %}
			<!--   
			<li><a href="/gogo/{{q.id}}">{{q.question_text}}</a></li> 
			-->
			<!-- /gogo/1 or /gogo/2 -->
			<!-- url 뒤에 detail은 urls 모듈안에서 name값 -->
			<li><a href="{% url 'detail' q.id %}">{{q.question_text}}</a></li>
			{% comment "여러 줄 주석" %} {# 한줄주석 #}
				...endcomment 만날때까지
			{% endcomment %}
		{% endfor %}
	</ul>
{% else %}
	<p>질문 항목이 없어 투표 불가능</p>
{% endif %}
</body>
</html>