<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
*** 직원정보  ***<br>
<table>
	<tr>	
		<th>직원번호</th><th>직원명</th><th>직급</th><th>관리고객</th>
	</tr>
	{% for j in jikwons %}
	{% if j.count == 0 %}
	<tr style="text-align: center;">
		<td>{{j.jikwon_no}}</td>
		<td>{{j.jikwon_name}}</td>
		<td>{{j.jikwon_jik}}</td>
		<td>{{j.count}}</td>
	</tr>
		{% else %}
	<tr style="text-align: center;">
		<td>{{j.jikwon_no}}</td>
		<td><a href="/gogek?jikwon_no={{j.jikwon_no}}">{{j.jikwon_name}}</a></td>
		<td>{{j.jikwon_jik}}</td>
		<td>{{j.count}}</td>
	</tr>
		{% endif %}
	
	{% endfor %}
</table>
</body>
</html>