<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글 수정</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript">
window.onload = function(){
	document.getElementById("btnUpdate").onclick = function(){
		chkData();
	}
	
	document.getElementById("btnBack").onclick = function(){
		history.back();
	}
}

function chkData(){
	if (frm.name.value === ""){
		alert('이름입력!');
		return;
	}
	else if (frm.up_passwd.value === ""){
		alert('비밀번호 입력')
		return;
	}
	else if (frm.mail.value === ""){
		alert('메일 입력')
		return;
	}
	else if (frm.title.value === ""){
		alert('제목 입력')
		return;
	}
	frm.submit();		
}
</script>
</head>
<body>
<h2>* 게시글 수정 *</h2>
<form action="/board/updateok/" name="frm" method="post">{% csrf_token %}
<input type="hidden" name="id" value="{{data_one.id}}">
<table class="table" style="width: 70%">
	<tr>
		<td>작성자  </td>
		<td>
			<input type="text" name="name" value="{{data_one.name}}">
		</td>
	</tr>
	<tr>
		<td>비밀번호  </td>
		<td>
			<input type="password" name="up_passwd" placeholder="{{data_one.passwd}}">
		</td>
	</tr>
	<tr>
		<td>이메일  </td>
		<td>
			<input type="email" name="mail" value="{{data_one.mail}}">
		</td>
	</tr>
	<tr>
		<td>제목  </td>
		<td>
			<input type="text" name="title" value="{{data_one.title}}">
		</td>
	</tr>
	<tr>
		<td>내용  </td>
		<td>
			<textarea rows="5" cols="50" name="cont">{{data_one.cont}}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center;">
			<input type="button" value="수 정" id="btnUpdate">
			<input type="button" value="이 전" id="btnBack">
		</td>
	</tr>
</table>
</form>
</body>
</html>